@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.letra {
  line-height: 1;
  text-shadow: -10px -1px 0px white;
  color: black;
}
.letra2 {

  line-height: 1;
  text-shadow: -10px -1px 0px white;
  color: rgb(234, 194, 36);
}
.letra3 {

  line-height: 1;
  text-shadow: -10px -1px 0px white;
  color: rgb(255, 111, 0);
}
.letra4 {

  line-height: 1;
  text-shadow: -10px -1px 0px white;
  color: rgb(166, 0, 0);
}
.letra5 {

  line-height: 1;
  text-shadow: -10px -1px 0px white;
  color: rgb(0, 147, 166);
}
.letra6 {

  line-height: 1;
  text-shadow: -10px -1px 0px white;
  color: white;
}

