@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.letra{
    font-size: 5rem;
    line-height: 1;
    text-shadow: -10px -1px 0px white;
    color:black;
}
.letra2{
    font-size: 4rem;
    line-height: 1;
    text-shadow: -10px -1px 0px white;
    color:rgb(234, 194, 36);
}
.letra3{
    font-size: 4rem;
    line-height: 1;
    text-shadow: -10px -1px 0px white;
    color:rgb(255, 111, 0);
}
.letra4{
    font-size: 4rem;
    line-height: 1;
    text-shadow: -10px -1px 0px white;
    color:rgb(166, 0, 0);
}
.letra5{
    font-size: 4rem;
    line-height: 1;
    text-shadow: -10px -1px 0px white;
    color:rgb(0, 147, 166);
}
.letra6{
    font-size: 4rem;
    line-height: 1;
    text-shadow: -10px -1px 0px white;
    color:white;
}